# Enterprise Contract Configuration Files

This repo contains a set of `policy.yaml` files which can be used by the [Enterprise Contract
Command Line Interface](https://github.com/conforma/cli) with a variety of
environments.

## Konflux CI

When using Red Hat's [Konflux CI](https://github.com/konflux-ci/)
environment, there is a predefined Integration Test pipeline definition for each of the configs in
this section. They can be used when creating an Integration Test in Konflux as per the [documentation
here](https://konflux-ci.dev/docs/advanced-how-tos/managing-compliance-with-ec/).

The policy configuration files are:
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "konflux" }}
        {{- template "konflux" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

## Stable (versioned policies)

The main branch of the [conforma/policy](https://github.com/conforma/policy)
is always tested with the [latest build of ec](https://github.com/conforma/cli/releases). If
your environment uses a specific version of ec, such as
[the official Red Hat build](https://catalog.redhat.com/software/containers/rhtas/ec-rhel9/65f1f9dcfc649a18c6075de5),
then you can use one of these instead of the
[main branch default](https://github.com/enterprise-contract/config?tab=readme-ov-file#default).

They are similar to the [Konflux CI "default"](#default) configuration except they use a specific branch
of the policies repo for stability and compatiblity with specific verisons of ec. These configurations are
suggested for use in [Red Hat Trusted Application Pipeline](https://developers.redhat.com/products/trusted-application-pipeline/overview) templates.

The policy configuration files are:
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "versioned" }}
        {{- template "versioned" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

## Konflux CI & Red Hat Trusted Application Pipeline (RHTAP) - Tasks

These are policy rules used to verify Tekton Task definitions meet the Red Hat guidelines for being
considered trusted.

The policy configuration files are:
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "konflux-tasks" }}
        {{- template "konflux-tasks" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

## GitHub

Container images built via [GitHub Actions](https://docs.github.com/actions) can be verified with
the following policy configurations.
{{ range $k, $v := ds "data" }}
  {{- with coll.Dict "directory" $k "data" $v }}
    {{- if not (index .data "deprecated") }}
      {{- if eq .data.environment "github" }}
        {{- template "github" . }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
## See also

* [Policy Rule Documentation](https://conforma.dev/docs/policy/release_policy.html)
* [Getting Started with Enterprise Contract &amp; Konflux CI](https://conforma.dev/docs/user-guide/getting-started.html)
